<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">
        <main>
            <div class="container ">
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="Nomina -> Validar Incidencias" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>

                <center><h4>Validar</h4></center>


                <h:form id="validarEmpleado">
                    <!--no puede haber formularios anidados-->

                    <!--                    <h:panelGrid columns="1">-->


                    <!--                    <p:messages id="mensajes" severity="info fatal" showDetail="true" autoUpdate="true" closable="true" />-->

                    <div class="ui-g-12 ui-md-6 ui-lg-12">
                        <center><h5>Incidencias</h5></center>
                        <p:dataTable id="tablaIncidenciasEmpleado" var="detIncidenciaEmpleado" 
                                     value=""
                                     reflow="true" rows="5" paginator="true" paginatorPosition="bottom" rowIndexVar="numerador" style="font-size: small" >
                            <p:column headerText="Detalle" width="10%" style="text-align:center " >

                            </p:column>
                            <p:column headerText="#{messages['web.app.table.nombre']}" width="12%" style="text-align:center" >
                                <h:outputText value="Lesle" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.clave']}" width="12%" style="text-align:center" >
                                <h:outputText value="156nj" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.incidencia']}" width="12%" style="text-align:center" >
                                <h:outputText value="Vacaciones" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipo']}" width="12%" style="text-align:center" >
                                <!--  <h:outputText value="#{detOrdenCliente.cantidad}" /> -->
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.perfil']}" width="12%" style="text-align:center" >
                                <!--  <h:outputText value="#{detOrdenCliente.cantidad}" /> -->
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.estatus']}" width="12%" style="text-align:center" >
                                <!--  <h:outputText value="#{detOrdenCliente.cantidad}" /> -->
                            </p:column>

                            <p:column headerText="#{messages['web.app.table.fecha2']}" width="13%" style="text-align:center" >
                                <!--  <h:outputText value="#{detOrdenCliente.cantidad}" /> -->
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.validar']}" width="10%" style="text-align:center" >
                                <p:selectBooleanButton id="value1" value="#{selectBooleanView.value1}" onLabel="Si" offLabel="No" style="width:60px" />

                                <!--  <h:outputText value="{detOrdenCliente.cantidad}" /> -->
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.correo']}" width="10%" style="text-align:center" >

                                <p:selectBooleanCheckbox value="#{SelectBooleanView.value1}">
                                </p:selectBooleanCheckbox>


  <!--  <h:outputText value="#{detOrdenCliente.cantidad}" /> -->
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.correo']}" width="10%" style="text-align:center" >
                                <p:commandButton value="Ver" process="@this"  
                                                 action="#{SelectBooleanView.mostrar()}"
                                                 update="detalleIncidencia,validarEmpleado">
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                    <!--                    </h:panelGrid>-->
                    <div align="right" >

                        <h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5">
                            <p:selectOneButton>
                                <f:selectItem itemLabel="Guardar" itemValue="Guardar" />
                                <f:selectItem itemLabel="Finalizar" itemValue="Finalizar" />
                                <f:selectItem itemLabel="Salir" itemValue="Salir" />

                            </p:selectOneButton>
                        </h:panelGrid>
                    </div>

                </h:form>

                <style>
                    #detalleIncidencia {
                        top: 30% !important;
                        background:#FFFFFF;
                    }
                </style>                

                <p:dialog id="detalleIncidencia" widgetVar="detalleIncidencia" 
                          height="300" width="500"
                          header="Detalle incidencia" 
                          >
                    <div class="row">
                        <div class="ui-md-6 ui-g-12">
                            <h:outputText value="Nombre" class="materialize-textarea"/>
                            <h:outputText value="Lesle" class="materialize-textarea"/>
                            <h:outputText value="Clave" class="materialize-textarea"/>
                            <h:outputText value="xxxjnx" class="materialize-textarea"/>
                        </div>
                        <div class="ui-md-6 ui-g-12">
                            <h:outputText value="Nombre" />
                            <h:outputText value="Lesle" />
                            <h:outputText value="Clave" />
                            <h:outputText value="xxxjnx" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="ui-md-6 ui-g-12">
                            <h:outputText value="Nombre" />
                            <h:outputText value="Lesle" />
                            <h:outputText value="Clave" />
                            <h:outputText value="xxxjnx" />
                        </div>
                        <div class="ui-md-6 ui-g-12">
                            <h:outputText value="Nombre" />
                            <h:outputText value="Lesle" />
                            <h:outputText value="Clave" />
                            <h:outputText value="xxxjnx" />
                        </div>
                    </div>
                </p:dialog>

            </div> <!-- end container -->
        </main>

    </ui:define>
</ui:composition>