<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="body">
        <main>
            <div>
                <div align="left">
                    <p:outputLabel value="Personal -> Manuales y Terceros" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>
                <center><h4>Manuales y Terceros</h4></center>
                <h:form id="manualesTerceros">
                    <p:outputLabel  value=" Nombre: "/>
                    <p:spacer width="10" height="10" />
                    <p:inputTextarea rows="1" cols="10" maxlength="25" autoResize="true" style="width: 20%"/> 
                    <p:spacer width="25" height="10" />
                    <p:outputLabel  value=" Apellido Paterno: "/>
                    <p:spacer width="10" height="10" />
                    <p:inputTextarea rows="1" cols="10" maxlength="25" autoResize="true" style="width: 20%"/>
                    <p:spacer width="25" height="10" />
                    <p:outputLabel  value=" Apellido Materno: "/>
                    <p:spacer width="10" height="10" />
                    <p:inputTextarea rows="1" cols="10" maxlength="25" autoResize="true" style="width: 20%"/>
                    <br></br>
                    <br></br>
                    <p:outputLabel  value=" Rol: "/>
                    <p:spacer width="45" height="10" />
                    <p:inputTextarea rows="1" cols="10" maxlength="25" autoResize="true" style="width: 30%"/>
                    <br></br>
                    <br></br>
                    <p:outputLabel value=" Área: "/>
                    <p:spacer width="35" height="10" />
                    <p:inputTextarea rows="1" cols="10" maxlength="25" autoResize="true" style="width: 30%"/>
                    <br></br>
                    <br></br>
                    <p:outputLabel value=" Descripción del Movimiento: "/>
                    <p:spacer width="20" height="10" />

                    <p:selectOneMenu id="mov" style="width:150px" 
                                     value="#{manualesTercerosMB.mov}" >
                        <f:selectItem itemLabel="Selecciona" itemValue="#{null}"/>
                        <f:selectItem itemLabel="Vacaciones" itemValue="1"/>
                        <f:selectItem itemLabel="Incapacidad" itemValue="2"/>
                        <f:selectItem itemLabel="Faltas" itemValue="3"/>
                        <p:ajax event="change" listener="#{manualesTercerosMB.manuales()}"
                                update="vacacion, incapacidades, falta, manualesTerceros"/>
                    </p:selectOneMenu>

                    <br></br>
                    <br></br>
                    <p:outputLabel id="prueba" value="Quincena Inicio: #{manualesTercerosMB.mov} "/>
                    <br></br>
                    <br></br>
                    <p:outputLabel  value="Quincena Fin: "/>
                    <br></br>
                    <br></br>
                    <p:outputLabel  value=" Frecuencia de Pago:"/>
                    <p:spacer width="85" height="10" />
                    <p:selectOneMenu id="frecuencia" value="frecuencia" style="width:150px">
                        <f:selectItem itemLabel="Selecciona" itemValue="#{null}"/>
                        <f:selectItem itemLabel="Quincenal" itemValue="Quincenal"/>
                        <f:selectItem itemLabel="Mensual" itemValue="Mensual"/>
                        <f:selectItem itemLabel="Trimestral" itemValue="Trimestral"/>
                        <f:selectItem itemLabel="Semestral" itemValue="Semestral"/>
                        <f:selectItem itemLabel="Anual" itemValue="Anual"/>
                    </p:selectOneMenu>
                    <br></br>
                    <br></br>

                    <p:outputLabel  value=" Monto a Pagar:"/>
                    <p:spacer width="100" height="10" />
                    <p:outputLabel  value="$"/>
                    <p:spacer width="10" height="10" />
                    <p:inputTextarea rows="1" cols="5" maxlength="15" autoResize="true" style="width:10%"/>
                    <br></br>
                    <br></br>

                    <h:panelGrid id="vacacion" rendered="#{manualesTercerosMB.mov==1?true:false}" >
                        <p:outputLabel  value="Número de Días: "/>
                        <p:spacer width="10" height="10" />
                        <p:inputTextarea rows="1" cols="20" maxlength="2" autoResize="true" style="width:10%" />
                    </h:panelGrid>
                   
                    <h:panelGrid id="incapacidades" rendered="#{manualesTercerosMB.mov==2?true:false}" >
                        <p:outputLabel value="Causa/Motivo: "/>
                        <p:inputTextarea rows="3" cols="10" maxlength="255" autoResize="true" style="width:20% " />
                    </h:panelGrid>

                    <h:panelGrid id="falta" rendered="#{manualesTercerosMB.mov==3?true:false}">
                        <p:outputLabel value="Número de Días: "/>
                        <p:inputTextarea rows="1" cols="20" maxlength="2" autoResize="true" style="width:10% "/>
                    </h:panelGrid>

                    <h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5" columnClasses="right">
                        <p:selectOneButton style="">
                            <f:selectItem itemLabel="Regresar" itemValue="Regresar" />
                            <f:selectItem itemLabel="Guardar" itemValue="Guardar" />
                        </p:selectOneButton>
                    </h:panelGrid>

                    <div class="ui-g-12 ui-md-6 ui-lg-12">
                        <center><h5>Historial</h5></center>
                        <p:dataTable id="tablaHistorialTerceros" var="detTerceros"
                                     value=""
                                     reflow="true" rows="5" paginator="true" paginatorPosition="bottom" rowIndexVar="numerador" style="font-size: small">


                            <p:column headerText="#{messages['web.app.table.movimiento']}" width="25" style="text-align:center" >
                                <h:outputText value="Vacaciones" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.frecuencia']}" width="25" style="text-align:center" >
                                <h:outputText value="Unico Pago" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.monto']}" width="25" style="text-align:center" >
                                <h:outputText value="$1000" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.estatus']}" width="25" style="text-align:center" >
                                <h:outputText value="Activo" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.acciones']}" width="25" style="text-align:center" >

                                <p:growl id="message" showDetail="true" />
                                <p:commandButton value="Eliminar"  icon="fa fa-trash" update="message">
                                    <p:confirm header="Confirmación" message="¿Está seguro que desea eliminar?" icon="fa fa-exclamation-triangle"/>
                                </p:commandButton>
                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                    <p:commandButton value="Si" type="button"/>
                                    <p:commandButton value="No" type="button"/>
                                </p:confirmDialog>



                            </p:column>

                        </p:dataTable>
                    </div>


                </h:form>
            </div>
        </main>
    </ui:define>
</ui:composition>