<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">
        <main>
            <div class="container ">
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="Configuración -> Incidencias" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>
                <center><h4>Configuración de incidencias</h4></center>
                <style>
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important; 
                    }
                    .ui-outputLabel{
                        color: black;
                    }
                </style>
                <h:form id="confIncidencia">
                    <p:growl id="mensajes" showDetail="true" sticky="false" />  
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <p:dataTable id="tablaDetalleInicidencia" var="detIncidencia" 
                                     emptyMessage="No existen incidencias" 
                                     value="#{confIncidenciaMB.listaCatIncidencias}" 
                                     reflow="true" rows="5" paginatorPosition="bottom" paginator="true" 
                                     rowIndexVar="numerador" 
                                     style="font-size: small" >

                            <f:facet name="header">
                                .
                                <p:commandButton icon="#{messages['web.app.icon.agregar']}" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 action="#{confIncidenciaMB.dialogoCrearConfig()}"
                                                 update="detalleConfIncidencia">
                                </p:commandButton>
                            </f:facet>

                            <p:column filterBy="#{detIncidencia.codClaveincidencia}" 
                                      headerText="#{messages['web.app.table.clave']}" 
                                      filterMatchMode="contains" 
                                      filterStyle="background: #FFFFFF; width:90%; height:40%;"  width="10%"> 
                                <h:outputText value="#{detIncidencia.codClaveincidencia}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.nombreIncidencia']}" width="20%">
                                <h:outputText value="#{detIncidencia.codNbincidencia}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipoIncidencia']}" width="20%">
                                <h:outputText value="#{detIncidencia.codTipoincidencia=='h'?'Horas':
                                                       detIncidencia.codTipoincidencia=='d'?'Dias':
                                                       detIncidencia.codTipoincidencia=='a'?'Actividad':''}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.perfilIncidencia']}" width="20%">
                                <h:outputText value="#{detIncidencia.codPerfilincidencia}" />
                            </p:column>
<!--                            <p:column headerText="#{messages['web.app.table.estatus']}" width="20%">
                                <h:outputText value="#{detIncidencia.bolEstatus==true?'Activo':'Inactivo'}" />
                            </p:column>-->
                            <p:column headerText="Acciones" style="text-align:center" width="10%"> 
                                <p:menuButton value="" icon="#{messages['web.app.icon.desplegar']}">
                                    <p:menuitem value=" Editar" action="#{confIncidenciaMB.dialogoEditarConfig(detIncidencia)}" 
                                                icon="#{messages['web.app.icon.editar']}"
                                                update="detalleConfIncidencia"/>
                                    <p:menuitem value=" Eliminar" action="#{confIncidenciaMB.dialogoEliminar(detIncidencia)}" 
                                                icon="#{messages['web.app.icon.eliminar']}"/>
                                </p:menuButton>
                            </p:column>          
                        </p:dataTable>
                    </div>
                </h:form>

                <style>
                    #detalleConfIncidencia {
                        top: 20% !important;
                        background:#FFFFFF;
                    }
                </style>                

                <p:dialog id="detalleConfIncidencia" resizable="false" header="#{confIncidenciaMB.titulo} confriguración de incidencia" 
                          widgetVar="detalleConfIncidencia" modal="true" height="32%" width="55%" closable="false"
                          draggable="false" >
                    <h:form id="detalleIncidenciaForm">
                        <h:panelGrid columns="1">  
                            <p:column>  
                                <div class="ui-g-12 ui-md-4 ui-lg-4">
                                    <p:outputLabel value="Clave:"/>
                                    <p:inputText id="claveArgumento" maxlength="5" 
                                                 value = "#{confIncidenciaMB.catIncidenciaSeleccionado.codClaveincidencia}" class="materialize-textarea" required="true"/>
                                </div>
                                <div class="ui-g-12 ui-md-4 ui-lg-4">
                                    <p:outputLabel value="Nombre:"/>
                                    <p:inputText id="descripcionArgumento" maxlength="30" 
                                                 value = "#{confIncidenciaMB.catIncidenciaSeleccionado.codNbincidencia}" 
                                                 class="materialize-textarea" 
                                                 size="20"  required="true"/>
                                </div>
                                <div class="ui-g-12 ui-md-4 ui-lg-4">
                                    <p:outputLabel value="Importe:"/>
                                    <br></br> 
                                    <p:inputText id="importe" 
                                                 value = "#{confIncidenciaMB.catIncidenciaSeleccionado.impMonto}" class="materialize-textarea" required="true"/>
                                </div>
                            </p:column>
                            <p:column> 
                                <div  class="ui-g-12 ui-md-4 ui-lg-4"  >
                                    <p:outputLabel for="TipoIncidencia" value="Tipo incidencia:"/>
                                    <br></br> 
                                    <p:selectOneMenu id="TipoIncidencia" style="width: 80%; margin-top: 20px" 
                                                     value="#{confIncidenciaMB.catIncidenciaSeleccionado.codTipoincidencia}" styleClass="anchoTipo">
                                        <f:selectItem itemLabel="Seleccionar" itemValue="#{null}" />
                                        <f:selectItem itemLabel="Hora" itemValue="h" />
                                        <f:selectItem itemLabel="Dias" itemValue="d" />
                                        <f:selectItem itemLabel="Actividad" itemValue="a" />
                                    </p:selectOneMenu> 
                                </div>
                                <div class="ui-g-12 ui-md-4 ui-lg-4">
                                    <p:outputLabel value="Perfil:"/>
                                    <p:inputText id="perfil" 
                                                 value = "#{confIncidenciaMB.catIncidenciaSeleccionado.codPerfilincidencia}" class="materialize-textarea" required="true"/>
                                </div>
                            </p:column>
<!--                            <p:column>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <p:outputLabel for="Estatus" value="Estatus:"/>
                                    <br></br> 
                                    <p:selectOneMenu id="Estatus" style="width: 80%; margin-top: 20px" 
                                                     value="#{confIncidenciaMB.catIncidenciaSeleccionado.bolEstatus}" styleClass="anchoTipo">
                                        <f:selectItem itemLabel="Seleccionar" itemValue="#{null}" />
                                        <f:selectItem itemLabel="Activo" itemValue="true" />
                                        <f:selectItem itemLabel="Inactivo" itemValue="false" />
                                    </p:selectOneMenu> 
                                </div>
                            </p:column>-->
                            <f:facet name = "footer">
                                <div align="right">
                                    <p:commandButton value="#{messages['web.app.button.cancelar']}" id="btnCancelarGuardar" 
                                                     style="margin-right:20px;" styleClass="ui-priority-primary" 
                                                     onclick="PF('detalleConfIncidencia').hide();"/>
                                    <p:commandButton value="#{messages['web.app.button.guardar']}" id="btnGuardar"  
                                                     style="margin-right:2%;" styleClass="ui-priority-primary"
                                                     action="#{confIncidenciaMB.guardar()}" 
                                                     ajax="true"
                                                     update="detalleConfIncidencia"/>
                                </div>
                            </f:facet>
                        </h:panelGrid>
                    </h:form>
                </p:dialog>

                <style>
                    #eliminarConfIncidencia {
                        top: 30% !important;
                        background:#FFFFFF !important;
                    }
                    .ui-dialog .ui-dialog-buttonpane{
                        background: #FFFFFF !important;
                    }
                </style>                

                <p:confirmDialog id="eliminarConfIncidencia" widgetVar="eliminarConfIncidencia" 
                                 header="Eliminar configuración de incidencia" closable="false"
                                 message="Desea eliminar la incidencia" showEffect="fade" hideEffect="fade"
                                 >
                    <center>

                        <p:commandButton value="#{messages['web.app.button.no']}" 
                                         process="@this" 
                                         onclick="PF('eliminarConfIncidencia').hide();" />
                        <p:commandButton value="#{messages['web.app.button.si']}" process="@this" 
                                         action="#{confIncidenciaMB.eliminar()}" 
                                         update="eliminarConfIncidencia"/>
                    </center>
                </p:confirmDialog>

            </div> <!-- end container -->
        </main>

    </ui:define>
</ui:composition>