<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml">   

    <ui:define name="body">
        <main>
            <div class="container ">
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="Configuración -> Configuración de argumentos" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>
                <center><h4>Configuración de argumentos</h4></center>
                <h:form id="Argumentos">
                    <div class="ui-g-12 ui-md-6 ui-lg-12">
                       
                        <p:dataTable id="tablaArgumento" var="detArgumento" 
                                     emptyMessage="No existen argumentos" 
                                     value="#{ConfArgumentosMB.listaArgumentos}" 
                                     reflow="true" rows="5" paginator="true" paginatorPosition="bottom" rowIndexVar="numerador" style="font-size: small" >
                            <f:facet name="header">
                                .   
                                <p:commandButton icon="fa fa-plus-circle" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 action="#{ConfArgumentosMB.dialogoCrear()}"
                                                 update="ArgumentoDialogo">
                                </p:commandButton>

                            </f:facet>
                            <p:column filterBy="" headerText="Nombre del argumento:" filterMatchMode="contains">
                                <h:outputText  value="#{detArgumento.codNbargumento}"/><br/>
                            </p:column>
                             

                            <p:column filterBy="" headerText="Clave" filterMatchMode="contains">
                                <h:outputText  value="#{detArgumento.codClavearg}"/><br/>

                            </p:column>

                            <p:column filterBy="" headerText="Descripción" filterMatchMode="contains">
                                <h:outputText value="#{detArgumento.txtDescripcion}" />
                            </p:column>

                            <p:column filterBy="" headerText="Tipo"  filterMatchMode="exact">
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('tablaArgumento').filter()" styleClass="custom-filter">
                                        <f:selectItem itemLabel="Selecciona uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItems value="#{detArgumento.codTipoargumento}" />
                                    </p:selectOneMenu>
                                </f:facet>
                                <h:outputText value="#{detArgumento.codTipoargumento}" />
                            </p:column>
                            <p:column filterBy="" headerText="Valor constante:" filterMatchMode="contains">
                                <h:outputText  value="#{detArgumento.impValorconst}"/><br/>
                            </p:column>
                            <p:column filterBy="" headerText="Estatus"  filterMatchMode="exact">

                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('tablaArgumento').filter()" styleClass="custom-filter">
                                        <f:selectItem itemLabel="Selecciona uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItems value="#{dtFilterView.estatus}" />
                                    </p:selectOneMenu>
                                </f:facet>

                                <h:outputText value="#{detArgumento.bolEstatus}" />
                            </p:column>

                            <p:column filterBy="" headerText="Función" filterMatchMode="contains">
                                <h:outputText value="#{detArgumento.desFuncionbd}" />
                            </p:column>

                            <p:column headerText="Acciones" width="100" style="text-align:center" >

                                <!--p:commandButton icon="fa fa-edit" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 action="{ConfArgumentosMB.dialogoCrear()}">
                                </p:commandButton-->



                                <p:menuButton value="" icon="#{messages['web.app.icon.desplegar']}" >
                                    <p:menuitem value="Editar" action="#{ConfArgumentosMB.dialogoEditar()}" update="ArgumentoDialogo" icon="fa fa-edit"/>
                                    <p:menuitem value="Eliminar" action="#{ConfArgumentosMB.dialogoEliminar(detArgumento)}"  icon="fa fa-trash">
                                        <!--<p:confirm header="Eliminar argumento" message="¿Desea eliminar este argumento?" icon="fa fa-exclamation-triangle" />-->
                                    </p:menuitem>
                                </p:menuButton>

                                     
                                <p:growl id="messages" />
                            </p:column>

                        </p:dataTable>
                    </div>
                    <!--                    </h:panelGrid>-->
                </h:form>
                <style>
                    #ArgumentoDialogo{
                        top: 10% !important;

                    }
                    .anchoFuncion { width: 83% !important}
                    .anchoTipo { width: 63% !important}

                    .disable-scroll{
                        overflow: hidden !important;
                    }
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }

                </style>


                <p:dialog id="ArgumentoDialogo" resizable="false" closable ='false' styleClass="disable-scroll" draggable="false" header="#{ConfArgumentosMB.titulo}" widgetVar="ArgumentoDialogo" position="center center" modal="true" height="4%" width="50%" style ="background: #FFFFFF;" >
                    <h:form id="ArgumentoForm">
                        <h:panelGrid columns="1">  
                            <p:column>  
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <p:outputLabel value="Nombre del argumento:"/>
                                    <p:inputText id="nombreArgumento" maxlength="15" value = "#{ConfArgumentosMB.argumentoSeleccionado.codNbargumento}" class="materialize-textarea" required="true"/>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <p:outputLabel value="Clave:"/>
                                    <p:inputText id="claveArgumento" maxlength="5" value = "#{ConfArgumentosMB.argumentoSeleccionado.codClavearg}" class="materialize-textarea" required="true"/>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <p:outputLabel value="Descripción:"/>
                                    <p:inputText id="descripcionArgumento" maxlength="30" value = "#{ConfArgumentosMB.argumentoSeleccionado.txtDescripcion}" class="materialize-textarea" required="true"/>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <p:outputLabel value="Valor constante:"/>
                                    <p:inputText id="valorConstante" maxlength="5" value = "#{ConfArgumentosMB.argumentoSeleccionado.impValorconst}" class="materialize-textarea" required="true"/>
                                </div>
                                
                            </p:column>
                            <p:column> 
                                <div  class="ui-g-12 ui-md-6 ui-lg-6"  >
                                    <p:outputLabel for="TipoArgumento" value="Tipo argumento:"/><br></br> 
                                    <p:selectOneMenu id="TipoArgumento" value="#{ConfArgumentosMB.argumentoSeleccionado.codTipoargumento}" styleClass="anchoTipo">
                                        <f:selectItem itemLabel="Seleccionar" itemValue="h" />
                                        <f:selectItem itemLabel="Variable" itemValue="0"  />
                                        <f:selectItem itemLabel="Constante" itemValue="1"/>
                                    </p:selectOneMenu><br></br><br></br>  
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6"  >
                                    <p:outputLabel for="Funcion" value="Función:" /><br></br>
                                    <p:selectOneMenu id="Funcion" value="#{ConfArgumentosMB.argumentoSeleccionado.desFuncionbd}" styleClass="anchoFuncion" >
                                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                                        <f:selectItem itemLabel="Funcion 1" itemValue="Funcion 1" />
                                        <f:selectItem itemLabel="Funcion 2" itemValue="Funcion 2" />
                                    </p:selectOneMenu>
                                </div>
                            </p:column>
                            <f:facet name = "footer">
                                <div style="padding-left: 60%">
                                    <p:commandButton  value="Cancelar" onclick="PF('ArgumentoDialogo').hide();" action ="#{ConfArgumentosMB.limpiarDialogo()}" id="btnCancelarGuardar" style="margin-right:2%;" styleClass="ui-priority-primary" />
                                    <p:commandButton value="Guardar" id="btnGuardar" action="#{ConfArgumentosMB.guardar()}" style="margin-right:2%;" styleClass="ui-priority-primary" />
                                </div>
                            </f:facet>
                        </h:panelGrid>
                    </h:form>
                </p:dialog>  

                <style>
                    #dialogEliminar{
                        background: #FFFFFF !important;
                        top: 30% !important;
                        
                    }
                    
                    .ui-dialog .ui-dialog-buttonpane{
                        background: #FFFFFF !important;
                    }

                </style>
                    <p:confirmDialog id="dialogEliminar" widgetVar="dialogEliminar" global="true" 
                                     showEffect="fade" hideEffect="fade"
                                     header="Eliminar argumento"
                                     message="¿Desea eliminar el argumento?">
                        <center>
                            <p:commandButton value="Si" immediate="true"
                                             styleClass="ui-confirmdialog-yes" 
                                             icon="fa fa-check" 
                                             action="#{ConfArgumentosMB.eliminarArgumento()}" 
                                             update="dialogEliminar" />
                            
                            <p:commandButton value="No" type="button" 
                                             styleClass="ui-confirmdialog-no" 
                                             icon="fa fa-remove" />
                        </center>
                        
                    </p:confirmDialog>
                
            </div> <!-- end container -->       
        </main>
    </ui:define>
</ui:composition>
