<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml">   

    <ui:define name="body">
        <main>
            <div class="container ">
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="Configuración -> Configuración de argumentos" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>
                <center><h4>Configuración de argumentos</h4></center>
                <style>
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }
                    .ui-outputLabel{
                        color: black;
                    }

                </style>
                <h:form id="Argumentos">
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <center><h5>Argumentos</h5></center>
                        <p:dataTable id="tablaArgumento" var="detArgumento" 
                                     emptyMessage="No existen argumentos" value="" 
                                     reflow="true" rows="5" paginator="true" paginatorPosition="bottom" rowIndexVar="numerador" style="font-size: small" >
                            <f:facet name="header">
                                .   
                                <p:commandButton icon="fa fa-plus-circle" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 action="#{ConfArgumentosMB.dialogoCrear()}"
                                                 update="ArgumentoDialogo">
                                </p:commandButton>

                            </f:facet>
                            
                            
                            <p:column filterBy="" headerText="Clave" filterMatchMode="contains">
                                <h:outputText  value="ARGU12"/><br/>
                                
                            </p:column>
 
                            <p:column filterBy="" headerText="Descripción" filterMatchMode="contains">
                                <h:outputText value="Argumento 1" />
                            </p:column>
                            
                            <p:column filterBy="" headerText="Tipo"  filterMatchMode="exact">
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('tablaArgumento').filter()" styleClass="custom-filter">
                                        <f:selectItem itemLabel="Selecciona uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItems value="#{dtFilterView.tipo}" />
                                    </p:selectOneMenu>
                                </f:facet>
                                <h:outputText value="#{argumento.tipo}" />
                            </p:column>
                            
                            <p:column filterBy="" headerText="Estatus"  filterMatchMode="exact">
                                
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('tablaArgumento').filter()" styleClass="custom-filter">
                                        <f:selectItem itemLabel="Selecciona uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItems value="#{dtFilterView.estatus}" />
                                    </p:selectOneMenu>
                                </f:facet>
                                
                                <h:outputText value="" />
                            </p:column>
                            
                            <p:column filterBy="" headerText="Función" filterMatchMode="contains">
                                <h:outputText value="#{argumento.funcion}" />
                            </p:column>
                            
                            <p:column headerText="Acciones" width="100" style="text-align:center" >
                                
                                <!--p:commandButton icon="fa fa-edit" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 action="{ConfArgumentosMB.dialogoCrear()}">
                                </p:commandButton-->
                              
                                  
                                    
                                    <p:menuButton value="" >
                                        <p:menuitem value="Editar" action="#{ConfArgumentosMB.dialogoEditar()}" update="ArgumentoDialogo" icon="fa fa-edit"/>
                                        <p:menuitem value="Eliminar" action="#{dialogView.mensajeEliminar()}" icon="fa fa-trash">
                                            <p:confirm header="Eliminar argumento" message="¿Desea eliminar este argumento?" icon="fa fa-exclamation-triangle" />
                                        </p:menuitem>
                                    </p:menuButton>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                    <p:commandButton value="Aceptar" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                                    <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-remove" />
                                </p:confirmDialog>     
                                    <p:growl id="messages" />
                            </p:column>
                               
                        </p:dataTable>
                    </div>
                    <!--                    </h:panelGrid>-->
                </h:form>
                <style>
                  #ArgumentoDialogo{
                      top: 10% !important;
                      background: #FFFFFF;
                  }
                  .anchoFuncion { width: 83% !important}
                  .anchoTipo { width: 63% !important}
                    
                  .disable-scroll{
                      overflow: hidden !important;
                  }
                  .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }

                </style>


                <p:dialog id="ArgumentoDialogo" resizable="false" closable ='false' styleClass="disable-scroll" 
                          draggable="false" header="#{ConfArgumentosMB.titulo}" widgetVar="ArgumentoDialogo" 
                          position="center center" modal="true" height="32%" width="55%"  >
                    <h:form id="ArgumentoForm">
                        <h:panelGrid columns="1">  
                            <p:column>  
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <p:outputLabel value="Clave:"/>
                                    <p:inputText id="claveArgumento" maxlength="5" value = "#{ConfArgumentosMB.clave}" class="materialize-textarea" required="true"/>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <p:outputLabel value="Descripción:"/>
                                    <p:inputText id="descripcionArgumento" maxlength="30" value = "#{ConfArgumentosMB.descripcion}" class="materialize-textarea" required="true"/>
                                </div>
                            </p:column>
                            <p:column> 
                                <div  class="ui-g-12 ui-md-6 ui-lg-6"  >
                                    <p:outputLabel for="TipoArgumento" value="Tipo argumento:"/><br></br> 
                                    <p:selectOneMenu id="TipoArgumento" value="#{ai}" styleClass="anchoTipo">
                                        <f:selectItem itemLabel="Seleccionar" itemValue="h" />
                                        <f:selectItem itemLabel="Variable" itemValue="variable" />
                                        <f:selectItem itemLabel="Constante" itemValue="constante" />
                                    </p:selectOneMenu><br></br><br></br>  
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6"  >
                                    <p:outputLabel for="Funcion" value="Función:" /><br></br>
                                    <p:selectOneMenu id="Funcion" value="#{aqui}" styleClass="anchoFuncion" >
                                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                                        <f:selectItem itemLabel="Funcion 1" itemValue="Funcion 1" />
                                        <f:selectItem itemLabel="Funcion 2" itemValue="Funcion 2" />
                                    </p:selectOneMenu>
                                </div>
                            </p:column>
                            <f:facet name = "footer">
                                <div style="padding-left: 50%">
                                    <p:commandButton  value="Cancelar" onclick="PF('ArgumentoDialogo').hide();" action ="#{ConfArgumentosMB.limpiarDialogo()}" id="btnCancelarGuardar" style="margin-right:20px;" styleClass="ui-priority-primary" />
                                    <p:commandButton value="Guardar" id="btnGuardar" action="#{ConfArgumentosMB.guardar()}" style="margin-right:2%;" styleClass="ui-priority-primary" />
                                </div>
                            </f:facet>
                        </h:panelGrid>
                    </h:form>
                </p:dialog>  


                
                <p:dialog id="DialogoEliminar" resizable="false" header="Eliminar" closable ='false' draggable="false" widgetVar="DialogoEliminar" modal="true" height="160" width="400" style="background: #FFFFFF;">
                    <h:form id="ArgumentoEliminarForm">
                        <h:panelGrid columns="1"> 
                            <p:column>
                                <center><p>¿Desea eliminar el argumento?</p></center>
                            </p:column>
                            <f:facet name="footer">
                                <h:panelGroup style = "display:block; text-align:center">
                                    <p:commandButton value="Si" icon="ui-icon-check" process="@this" 
                                                     >
                                    </p:commandButton>     
                                    <p:commandButton value="No" onclick="PF('DialogoEliminar').hide();" icon="fa fa-times" process="@this" 
                                                     >
                                    </p:commandButton>        
                                </h:panelGroup>
                            </f:facet>
                        </h:panelGrid>

                    </h:form>
                </p:dialog> 
            </div> <!-- end container -->       
        </main>
    </ui:define>
</ui:composition>