<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">
        <main>
            <div class="container ">
                <!--Barra de navegación-->
                <div align="left">
                    <p:outputLabel value="Seguimiento -> Exportar Curriculum" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>
                <center><h4>Exportar Curriculum</h4></center>
                <style>
                    .separador{
                        width:8%;
                        height:1px;
                        float:left;
                    }
                    .separador1{
                        width:36%;
                        height:1px;
                        float:left;
                    }
                </style>

                <p:outputLabel for="Formato" value="Formato" style="font-weight: bold" />
                
                
                
                    <h:graphicImage url="./../resources/imagenes/Beeva.png" style="width:11%; height: 15%; display:inline; float:left;"/>
                    <div class="separador"></div>
                    <h:graphicImage  url="./../resources/imagenes/MBN.png" style="width:11%; height: 15%; display:inline; float:left;"/>
                    <div class="separador"></div>
                    <h:graphicImage   url="./../resources/imagenes/Indra.png" style="width:11%; height: 15%; display:inline; float:left;"/>
                
                    <div class="separador"></div>
                    <h:graphicImage   url="./../resources/imagenes/Sinery.png" style="width:11%; height: 15%; display:inline; float:left;"/>
                    <div class="separador"></div>
                    <h:graphicImage   url="./../resources/imagenes/Beeva.png" style="width:11%; height: 15%; display:inline; float:left;"/>
               
                <p:selectOneRadio id="Formato" value="#{null}" >
                    <f:selectItem itemLabel="Beeva" itemValue="1" />
                    <f:selectItem itemLabel="MBN" itemValue="2" />
                    <f:selectItem itemLabel="Indra" itemValue="3" />
                    <f:selectItem itemLabel="Sinery" itemValue="4" />
                    <f:selectItem itemLabel="Brencar" itemValue="5" />
                </p:selectOneRadio>
                <p:outputLabel for="Archivo" value="Archivo" style="font-weight: bold" />
                
                
                <h:graphicImage url="./../resources/imagenes/pdf.png" style="width:11%; height: 15%; display:inline; float:left;"/> 
                <div class="separador"></div>
                <h:graphicImage id="word" url="./../resources/imagenes/word.png" style="width:11%; height: 15%; display:inline; float:left;" />


                <p:selectOneRadio id="Archivo" value="#{null}" style="font-weight: bold">
                    <f:selectItem itemLabel="PDF" itemValue="6"/>
                    <f:selectItem itemLabel="Word" itemValue="7" />
                </p:selectOneRadio>
                
                <p:growl id="growl" life="2000" />
                <p:commandButton value="Guardar"
                                 id="ajax" 
                                 update="growl" 
                                 action="#{buttonView.buttonAction}" 
                                 style="display:inline; float:right;" 
                                 styleClass="ui-priority-primary" />
                <p:commandButton value="Cancelar"
                                 id="cancelar" 
                                 update="growl" 
                                 action="#{buttonView.buttonAction}" 
                                 style="display:inline; float:right;" 
                                 styleClass="ui-priority-primary" />   

            </div> <!-- end container -->

        </main>

    </ui:define>
</ui:composition>