<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">

        <main>
            <div class="container" >

                <div class="hide-on-small-only">
                    <br/><br/>
                </div>
                <div class="row center">
                    <!--                <h5 class="header col s12 light">Bienvenido {inicioMB.nombrarEmpleado()}</h5>-->
                </div>

                <div class="row">
                    <div class="col s6 m4">
                        <div class="icon-block">
                            <h2 class='center light-blue-text'><a href='argumentos/ConfiguracionArgumentos.xhtml'><i class="material-icons medium">assessment</i></a></h2>
                            <h5 class="center">Argumentos</h5>
                        </div>
                    </div>
<!--                    <div class="col s6 m4">
                        <div class="icon-block">
                            <h2 class='center light-blue-text'><a href='conceptos/conceptos.xhtml'><i class="material-icons medium">assignment</i></a></h2>
                            <h5 class="center">Conceptos</h5> 
                        </div>
                    </div> -->
                    <div class="col s6 m4">
                        <div class="icon-block">
                            <h2 class='center light-blue-text'><a href='conceptos/conceptos1.xhtml'><i class="material-icons medium">assignment</i></a></h2>
                            <h5 class="center">Conceptos</h5> 
                        </div>
                    </div> 
                    <div class="col s6 m4">
                        <div class="icon-block">
                            <h2 class='center light-blue-text'><a href='conceptos/prueba.xhtml'><i class="material-icons medium">assignment</i></a></h2>
                            <h5 class="center">prueba</h5> 
                        </div>
                    </div> 
                    <div class="col s7 m4">
                        <div class="icon-block">
                            <h2 class='center light-blue-text'><a href='incidencias/incidencias.xhtml'><i class="material-icons medium">assignment_late</i></a></h2>
                            <h5 class="center">Incidencias</h5> 
                        </div>
                    </div>       
                </div>  
 
            </div> <!-- end container -->
        </main>
    </ui:define>
</ui:composition>
