<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">
        <main>
            <div class="container ">
                <!--Barra de navegación-->
                <div align="left">
                    <p:outputLabel value="Configuración -> Conceptos" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>

                <center><h4>Configuración de conceptos</h4></center>
                <style>
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }
                    .ui-outputLabel{
                        color: black;
                    }

                </style>
                <h:form id="detalleConfConcepto" >
                    <p:growl id="mensajesDetalleOrden" showDetail="true" sticky="false" />  
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <p:dataTable id="tablaDetalleConcepto" var="detConcepto" 
                                     rendered="#{!confConceptoMB.visible}"
                                     emptyMessage="No existen Conceptos " value="" 
                                     reflow="true" rows="5" paginatorPosition="bottom" 
                                     paginator="true" rowIndexVar="numerador" style="font-size: small" 
                                     >

                            <f:facet name="header">
                                .
                                <p:commandButton icon="#{messages['web.app.icon.agregar']}" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 action="#{confConceptoMB.setVisible(true)}"
                                                 update="detalleConfConcepto,detalleCrearConceptoForm">
                                </p:commandButton>
                            </f:facet>

                            <!--<p:column filterBy="#{detConcepto.clave}" headerText="#{messages['web.app.table.clave']}" filterMatchMode="contains">-->
                            <p:column headerText="#{messages['web.app.table.clave']}" >
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.nombre']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipoConcepto']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipoCalculo']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipoNomina']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.partida']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.estatus']}">
                                <h:outputText value="" />
                            </p:column>

                            <p:column headerText="Acciones" style="text-align:center" >
                                <p:menuButton value="" icon="#{messages['web.app.icon.desplegar']}">
                                    <p:menuitem value=" Editar" action="#{confConceptoMB.setVisible(true)}" icon="#{messages['web.app.icon.editar']}"
                                                update="detalleConfConcepto,detalleCrearConceptoForm"/>
                                    <p:menuitem value=" Eliminar" action="#{confConceptoMB.dialogoEliminar()}" icon="#{messages['web.app.icon.eliminar']}"
                                                update="eliminarConfConcepto"/>
                                </p:menuButton>
                            </p:column>
                        </p:dataTable>
                    </div>
                </h:form>

                <h:form id="detalleCrearConceptoForm" >

                    <p:panel class="ui-g-12 ui-md-12 ui-lg-12" rendered="#{confConceptoMB.visible}"
                             style="background: #FFFFFF; border: none;" >

                        <div class="ui-g-5 ui-md-4 ui-lg-5"  >
                            <div class="row">
                                <p:outputLabel value="Clave: " />
                                <p:inputText id="ClaveDOC" class="materialize-textarea"  value="" />
                            </div>
                            <div class="row">
                                <p:outputLabel value="Nombre: "/>
                                <p:inputText id="NombreDOC" class="materialize-textarea" value=""/>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Tipo Nomina " />
                                <p:selectOneMenu id="TipoNominaDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Quincenal" itemValue="Quincenal"    />
                                    <f:selectItem itemLabel="Aguinaldo" itemValue="Aguinaldo"    />
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Tipo Calculo " />
                                <p:selectOneMenu id="TipoCalculoDOC" class="materialize-textarea"  
                                                 value="#{confConceptoMB.tipoCalculoDOC}" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Importe" itemValue="1"    />
                                    <f:selectItem itemLabel="Calculo" itemValue="2"    />
                                    <p:ajax event="change" listener="#{confConceptoMB.tipoCalculo()}" 
                                            update="@form"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Tipo Clasificador " />
                                <p:selectOneMenu id="TipoClasificadorDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="1" itemValue="1"    />
                                    <f:selectItem itemLabel="2" itemValue="2"    />
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Frecuencia de Pago "/>
                                <p:selectOneMenu id="FrecuenciaPagoDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Quincenal" itemValue="Quincenal"    />
                                    <f:selectItem itemLabel="Mensual" itemValue="Semestral"    />
                                    <f:selectItem itemLabel="Semestral" itemValue="Semestral"    />
                                    <f:selectItem itemLabel="Anual" itemValue="Semestral"    />
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Cuenta Contable "/>
                                <p:selectOneMenu id="CuentaContableDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="xxxxxxx" itemValue="xxxxxxx"    />
                                    <f:selectItem itemLabel="yyyyyyy" itemValue="yyyyyyy"    />
                                </p:selectOneMenu>
                            </div>
                        </div>

                        <div class="ui-g-2 ui-md-2 ui-lg-2"  >

                        </div>
                        <div class="ui-g-5 ui-md-4 ui-lg-5 "  >
                            <div class="row">
                                <p:outputLabel value="Partida Presupuestal "/>
                                <p:selectOneMenu id="PartidaDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="jykjf" itemValue="jykjf"    />
                                    <f:selectItem itemLabel="hehe" itemValue="hehe"    />
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Fundamento Legal "/>
                                <p:inputText id="FunLegalDOC" class="materialize-textarea" value=""/>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Aplica ISN "/>
                                <p:selectOneMenu id="ISNDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Si" itemValue="Si"    />
                                    <f:selectItem itemLabel="No" itemValue="No"    />
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Aplica Retroactividad "/>
                                <p:selectOneMenu id="RetroactividadDOC" class="materialize-textarea"  
                                                 value="#{confConceptoMB.retroactividadDOC}" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Si" itemValue="1"    />
                                    <f:selectItem itemLabel="No" itemValue="2"    />
                                    <p:ajax event="change" listener="#{confConceptoMB.retroactividad()}" 
                                            update="RetroActSi,detalleCrearConceptoForm"/>
                                </p:selectOneMenu> 
                            </div>
                            <div class="row">
                                <p:outputLabel value="Concepto SAT "/>
                                <p:selectOneMenu id="ConcepSATDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="gnfg" itemValue="gnfg"    />
                                    <f:selectItem itemLabel="bfgb" itemValue="bfgb"    />
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="TopeExcention"/>
                                <p:inputText id="TopeExcentionDOC" class="materialize-textarea" value=""/>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Tipo Concepto "/>
                                <p:selectOneMenu id="TipoConceptoDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Percepcion" itemValue="Percepcion"    />
                                    <f:selectItem itemLabel="Deducccion" itemValue="Deducccion"    />
                                </p:selectOneMenu>
                            </div>
                        </div>

                        <h:panelGrid columns="2" id="RetroActSi" rendered="#{confConceptoMB.retroactividadDOC==1?true:false}">  
                            <p:column>
                                <div class="ui-g-8 ui-md-6 ui-lg-4"  >
                                    <p:selectOneRadio id="RetroAct" value="#{confConceptoMB.retroAct}" >
                                        <f:selectItem itemLabel="Gravado" itemValue="1" />
                                        <f:selectItem itemLabel="Exento" itemValue="2" />
                                        <p:ajax event="change" listener="#{confConceptoMB.retroAct()}" 
                                                update="SiGravado,RetroActSi,detalleCrearConceptoForm"/>
                                    </p:selectOneRadio>

                                    <p:selectOneRadio id="SiGravado" value="#{confConceptoMB}" 
                                                      rendered="#{confConceptoMB.retroAct==1?true:false}">
                                        <f:selectItem itemLabel="Dias" itemValue="1" />
                                        <f:selectItem itemLabel="Porcentaje" itemValue="2" />
                                        <f:selectItem itemLabel="No Aplica" itemValue="3" />
                                    </p:selectOneRadio>
                                </div >
                            </p:column>
                        </h:panelGrid>
                        <!--</p:panel>-->
                        <p:panel id="DefFormula" rendered="#{confConceptoMB.tipoCalculoDOC==2?true:false}"
                                 style="background: #FFFFFF; border: none;">
                            <h4>Definición de formula</h4>

                            <div class="ui-g-12 ui-md-12 ui-lg-12"  >
                                <p:outputLabel value="Formula "/>
                                <p:inputTextarea rows="4" cols="70" queryDelay="750" minQueryLength="4" 
                                                 id="FormulaDOC" class="materialize-textarea"
                                                 value="#{confConceptoMB.formulaDOC}"/>
                            </div>

                            <h:panelGrid columns="3">
                                <p:column> 
                                    <div class="ui-g-8 ui-md-6 ui-lg-10"  >
                                        <p:outputLabel value="Constantes "/>
                                        <p:selectOneMenu id="ConstantesDOC" class="materialize-textarea"  
                                                         value="#{confConceptoMB.constantesDOC}" style="width: 90%;">
                                            <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Dias" itemValue="Dias"    />
                                            <f:selectItem itemLabel="Horas" itemValue="Horas"    />
                                            <p:ajax event="change" listener="#{confConceptoMB.constantes()}" 
                                                    update="FormulaDOC,ConstantesDOC,guests"/>
                                        </p:selectOneMenu>
                                    </div>
                                </p:column> 
                                <p:column> 
                                    <div class="ui-g-8 ui-md-6 ui-lg-10"  >
                                        <p:outputLabel value="Funciones "/>
                                        <p:selectOneMenu id="FuncionesDOC" class="materialize-textarea"  
                                                         value="#{confConceptoMB.funcionesDOC}" style="width: 90%;">
                                            <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sueldo" itemValue="Sueldo"    />
                                            <f:selectItem itemLabel="Aguinaldo" itemValue="Aguinaldo"    />
                                            <p:ajax event="change" listener="#{confConceptoMB.funciones()}" 
                                                    update="FormulaDOC,FuncionesDOC,guests"/>
                                        </p:selectOneMenu>
                                    </div>
                                </p:column> 
                                <p:column> 
                                    <div class="ui-g-8 ui-md-6 ui-lg-10"  >
                                        <p:outputLabel value="Operadores "/>
                                        <p:selectOneMenu id="OperadoresDOC" class="materialize-textarea"  
                                                         value="#{confConceptoMB.operadoresDOC}" style="width: 90%;">
                                            <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="*" itemValue="*"    />
                                            <f:selectItem itemLabel="/" itemValue="/"    />
                                            <f:selectItem itemLabel="-" itemValue="-"    />
                                            <f:selectItem itemLabel="+" itemValue="+"    />
                                            <f:selectItem itemLabel="(" itemValue="("    />
                                            <f:selectItem itemLabel=")" itemValue=")"    />
                                            <p:ajax event="change" listener="#{confConceptoMB.operadores()}" 
                                                    update="FormulaDOC,OperadoresDOC,guests"/>
                                        </p:selectOneMenu>
                                    </div>
                                </p:column> 
                            </h:panelGrid>

                            <p:commandButton value="Limpiar Formula" process="@this" 
                                             action="#{confConceptoMB.limpiarFormula()}"
                                             update="FormulaDOC,guests">
                            </p:commandButton>
                            <p:commandButton value="#{messages['web.app.button.guardar']}" process="@this" 
                                             style="display:inline; float:right;" 
                                             action="#{confConceptoMB.setVisible(false)}"
                                             update="detalleConfConcepto,detalleCrearConceptoForm"
                                             >
                            </p:commandButton>

                            <p:commandButton value="#{messages['web.app.button.cancelar']}" process="@this" 
                                             style="display:inline; float:right;" 
                                             action="#{confConceptoMB.setVisible(false)}"
                                             update="detalleConfConcepto,detalleCrearConceptoForm">
                            </p:commandButton>
                        </p:panel>
                        <div class="row">
                            
                        </div>
                    </p:panel>


                </h:form>
                <h:panelGrid columns="2" id="guests">
                    <p:column rendered="#{confConceptoMB.partes.size()>0?true:false}">
                        <div class="ui-g-8 ui-md-8 ui-lg-8"  >
                            <p:outputLabel value="Cargar valores:"/>
                            <br></br>
                            <br></br>
                            <h:panelGroup >
                                <h:form >
                                    <ui:repeat value="#{confConceptoMB.partes}" var="hola" varStatus="loop">
                                        <h:outputText value="#{confConceptoMB.partes.get(loop.index)}" />
                                        <p:inputText value="" />
                                    </ui:repeat>
                                </h:form>
                            </h:panelGroup>
                        </div>
                    </p:column>
                    <p:column rendered="#{confConceptoMB.partes.size()>0?true:false}">
                        <div class="ui-g-8 ui-md-8 ui-lg-8"  >
                            <p:outputLabel value="Prueba "/>
                            <p:inputText id="PruebaDOC" class="materialize-textarea" value=""/>
                        </div>
                    </p:column>
                </h:panelGrid>
                <style>
                    #eliminarConfConcepto {
                        top: 30% !important;
                        background:#FFFFFF;
                    }
                </style>                

                <p:confirmDialog id="eliminarConfConcepto" widgetVar="eliminarConfConcepto" header="Eliminar configuracion del concepto" closable="false"
                                 message="Desea eliminar el concepto" showEffect="fade" hideEffect="fade">
                    <center>
                        
                        <p:commandButton value="#{messages['web.app.button.no']}" process="@this" 
                                         onclick="PF('eliminarConfConcepto').hide();" />
                        <p:commandButton value="#{messages['web.app.button.si']}" process="@this" />
                    </center>
                </p:confirmDialog>

            </div> <!-- end container -->
        </main>

    </ui:define>
</ui:composition>