<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">

        <main>
            <div class="container" >
                <p:calendar id="inline" value="#{bean.date1}" mode="inline" />
                <h:form>
                    <p:inputText value="#{bean.numberOfGuests}" />
                    <p:commandButton value="submit" action="#{bean.submit}" update=":guests" />
                </h:form>

                <h:panelGroup id="guests">
                    <h:form rendered="#{not empty bean.guests}">
                        <ui:repeat value="#{bean.guests}" var="hola" varStatus="loop">
                            <h:outputText value="Argumento" />
                            <p:inputText value="#{bean.guests[loop.index]}" />
                        </ui:repeat>
                        <p:commandButton value="save" action="#{bean.save}" />
                    </h:form>
                </h:panelGroup>
            </div> <!-- end container -->
        </main>
    </ui:define>
</ui:composition>
